.contenedor {
    width: 100%;
    margin: 0px auto;
}

ul li {
    display: inline-block;
    border: 2px black solid;
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
}

a {
    text-decoration: none;
    list-style: none;
}

.listaMenu {
    text-align: center;
    background-color: gray;
    font-size: 25px;
}

header {
    background-color: black;
    height: 100px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: white;
    line-height: 100px;
    
}

footer {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    background-color: black;
    width: 100%;
    height: 100px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.contenido-Carrito {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}
.card {
    box-shadow: 0 4px 8px 0 black;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 10px;
  }
  
.card > img {
    width: 90%;
    height: 250px;
  }
  
.precio {
    color: grey;
    font-size: 22px;
  }
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}


.contenedorCarrito {
    display: flex;
    justify-content: flex-end;
}
.iconoCarrito {
    font-size: 35px;
    margin: 15px;
}

.total-contenido {
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    border: 2px gray solid

}

.ventana-contenedor {
    display: flex;
    border: 2px gray solid;
}


.ventana-header-boton {
    margin: 10px;
    text-align: center;
    cursor: pointer;
}  

.ventana-header {
    border: 2px gray solid;

}

.ventana-header-item {
    margin: 10px;
}

h3 {
    text-align: center;
    margin: 10px;
}




.botonBorrar {
    justify-content: center;
    cursor: pointer;
}


.borrar-producto {
    cursor: pointer;
}

.sumar {
    cursor: pointer;
}
  
.restar {
    cursor: pointer;
}









